body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom: 2px solid grey;
}

.container > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 58vw;
  height: 450px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  grid-column: content;
  overscroll-behavior-x: contain;
  background: rgb(47, 45, 45);
}

.animeCard {
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: transparent;
  padding: 20px;
}

.animeImg {
  width: 190px;
  height: auto;
  -webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.animeTitle {
  font-size: 20px;
}

.space {
  margin: auto;
  margin-bottom: 10px;
}

.carouselTitle {
  text-align: start left;
  margin: auto;
  margin-left: 55px;
  margin-bottom: 0px;
  color: white;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 375px;
  margin-block: 2rem;
  gap: 2rem;
}

.cardImage {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  background: linear-gradient(to right, #f2c1c1, #ebbe92);

}

.animeDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin:auto;
  justify-content: center;
  width: 75vw;
}

body {
  background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5gxz2t-14877ed3-a354-469c-a6ac-4e6cafb0d21b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVneHoydC0xNDg3N2VkMy1hMzU0LTQ2OWMtYTZhYy00ZTZjYWZiMGQyMWIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gPps9K5ApmzV4bnHtlCX1roGODLqW74sF1UyTDFPxOM") left repeat-y,url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5mmdw5-a22be159-c8b0-4624-a1c2-7306d836b796.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVtbWR3NS1hMjJiZTE1OS1jOGIwLTQ2MjQtYTFjMi03MzA2ZDgzNmI3OTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qGIfRhT_KRLtnniZTX1yFw9OO2oVC3vuhocEOsZ66fs") right repeat-y;
  background-size: 20vw;
  background-attachment: fixed;
}

section {
  width: 64vw;
  margin: auto;
  background-color: rgb(31, 29, 29);
}

.scroll {
  background-color: white;
  width: 64vw;
  margin: auto;
  background-color: rgb(31, 29, 29);
}

.episodetitle {
  text-align: center;
  margin: auto;
}

#carouselButtonLeft {
  opacity: .2;
  height: 80px;
  width: 60px;
  margin: auto;
  background-image: url('https://www.pngkey.com/png/detail/423-4232983_how-to-set-use-left-grey-arrow-svg.png');
  background-size: 100% 75px;
}

#carouselButtonRight {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: .2;
  height: 80px;
  width: 60px;
  margin: auto;
  background-image: url('https://www.pngkey.com/png/detail/423-4232983_how-to-set-use-left-grey-arrow-svg.png');
  background-size: 100% 75px;
}

.animeCard:hover {
  color: goldenrod;
  transition: 1s;
}