body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom: 2px solid grey;
}

.container > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 58vw;
  height: 450px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  grid-column: content;
  overscroll-behavior-x: contain;
  background: rgb(47, 45, 45);
}

.animeCard {
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: transparent;
  padding: 20px;
}

.animeCard .animeImg {
  width: 190px;
  height: auto;
  -webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.animeTitle {
  font-size: 20px;
}

.space {
  margin: auto;
  margin-bottom: 10px;
}

.carouselTitle {
  text-align: start left;
  margin: auto;
  margin-left: 55px;
  margin-bottom: 0px;
  color: white;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 375px;
  margin-block: 2rem;
  gap: 2rem;
}

.cardImage {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  background: linear-gradient(to right, #f2c1c1, #ebbe92);

}

.animeDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin:auto;
  justify-content: center;
  width: 75vw;
}

body {
  background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5gxz2t-14877ed3-a354-469c-a6ac-4e6cafb0d21b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVneHoydC0xNDg3N2VkMy1hMzU0LTQ2OWMtYTZhYy00ZTZjYWZiMGQyMWIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gPps9K5ApmzV4bnHtlCX1roGODLqW74sF1UyTDFPxOM") left repeat-y,url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b40a618-67e4-4a24-93c7-ab80b05d08bb/d5mmdw5-a22be159-c8b0-4624-a1c2-7306d836b796.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNDBhNjE4LTY3ZTQtNGEyNC05M2M3LWFiODBiMDVkMDhiYlwvZDVtbWR3NS1hMjJiZTE1OS1jOGIwLTQ2MjQtYTFjMi03MzA2ZDgzNmI3OTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qGIfRhT_KRLtnniZTX1yFw9OO2oVC3vuhocEOsZ66fs") right repeat-y;
  background-size: 20vw;
  background-attachment: fixed;
  background-color: rgb(31, 29, 29);
}

section {
  width: 64vw;
  margin: auto;
  margin-top: 0;
  background-color: rgb(31, 29, 29);
}

.scroll {
  background-color: white;
  width: 64vw;
  margin: auto;
  margin-top: 0;
  background-color: rgb(31, 29, 29);
}

.episodetitle {
  text-align: center;
  margin: auto;
}

#carouselButtonLeft {
  opacity: .2;
  height: 80px;
  width: 60px;
  margin: auto;
  background-image: url('https://www.pngkey.com/png/detail/423-4232983_how-to-set-use-left-grey-arrow-svg.png');
  background-size: 100% 75px;
}

#carouselButtonRight {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: .2;
  height: 80px;
  width: 60px;
  margin: auto;
  background-image: url('https://www.pngkey.com/png/detail/423-4232983_how-to-set-use-left-grey-arrow-svg.png');
  background-size: 100% 75px;
}

.animeCard:hover {
  color: goldenrod;
  transition: 1s;
}

.card1 {
  width:1000px;
  height:420px;
  background:transparent;
  left:0;
  right:0;
  margin:auto;
  top:0;
  bottom:0;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  color: white;
}

.cardLeft { 
  width:40%;
    height:420px;
    float:left;
    overflow:hidden;
    background:transparent;
}

.cardRight {
  width:60%;
  float:left;
  background:#000000;
  height:420px;
  border-radius:0 10px 10px 0;
  -webkit-border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
}

.title1 {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  text-align:left;
  font-size:40px;
  margin:30px 0 0 0;
  padding:0 0 0 40px;
  letter-spacing:1px;
}

.description1 {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  padding:0 40px 0 40px;
  letter-spacing:1px;
  margin:10px 0 10px 0;
  line-height:20px;
}

.addToWatchlist {
  margin-left: 330px;
  width: 125px;
  height: 35px;
  background-image: url('https://i.imgur.com/vCSYLEH.png');
  background-size: 120% 29px;
}

.banner {
  width: 100vw;
  height: 7vh;
  position: absolute;
  left: 0px;
  margin-bottom: 100px;
  padding: auto;
}

.spacer {
    height: 50px;
    margin: 0 0 25px 0;
    background: transparent;
}

.navbar {
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: 700;
  font-family: Helvetica;
}

.nav {
  display: flex;
  font-family: 'Ramabhadra';
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 60px;
  align-items: center;
}

#navbar:hover {
  color: goldenrod;
  transition: 1s;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 55vw;
  height: 100vh;
  margin: auto;
  background-color: rgb(47, 45, 45);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.links {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.links:hover {
  color: rgb(189, 0, 189);
}

.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 55vw;
}

.writing {
  text-indent: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.profilePage {
  margin: auto;
  width: 55vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(47, 45, 45);
  margin-top: 20px;
  margin-bottom: 20px;
}

.profileName {
  font-size: 67px;
  margin-bottom: 0;
}

.profileEmail {
  font-size: 25px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.destroyButton {
  color: red;
}

.searchcontainer {
  width: 58vw;
  margin: auto;
  align-content: center;
}

.searchtitle {
  text-align: center;
  color: white;
}

.searchform {
  margin: auto;
  display: flex;
}

.searchinput {
  margin: auto;
  margin-right: 0px;
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 40vw;
}

.searchbutton {
  margin-right: 5em;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2pf2eimgvHcdSQ3ZlTRt9vzGN_c3j6e9tHg&usqp=CAU');
  width: 3.8em;
  background-size: cover;
}

.animesearchcontainer {
  display: grid;
  grid-template-columns: repeat( auto-fit, 15em);
  justify-content: space-between;
  width: 58vw;
  row-gap: 3em;
  border: 1px solid white;
  margin-top: 2em;
}